<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.service</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).NotificationService</string>
	</dict>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>AlfaSlabOne_400Regular.ttf</string>
		<string>Entypo.ttf</string>
		<string>Caveat_400Regular.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>DancingScript_400Regular.ttf</string>
		<string>FontsFree-Net-Billabong.ttf</string>
		<string>Feather.ttf</string>
		<string>Nunito-ExtraBold.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Nunito-Medium.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>Nunito-SemiBold.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>OpenSans_400Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Pacifico_400Regular.ttf</string>
		<string>PlaywriteAUQLD_400Regular.ttf</string>
		<string>FontAwesome6_Brands.ttf</string>
		<string>PlaywriteHU_400Regular.ttf</string>
		<string>FontAwesome6_Regular.ttf</string>
		<string>PlaywritePL_400Regular.ttf</string>
		<string>RobotoMono_400Regular.ttf</string>
		<string>FontAwesome6_Solid.ttf</string>
		<string>Roboto_400Regular.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Triodion_400Regular.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
</dict>
</plist>
