<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>valens</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.103724590021-256b5bh4tqesq7gulu0hj4oomr7a4h1c</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.valens</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.valens</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>35.174.167.92</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSTemporaryExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to take photos.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs location access to show nearby data.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library to allow you to share images.</string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSMotionUsageDescription</key>
	<string>This app requires access to motion data to improve app functionality.</string>

	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires access to your media library to support audio-related features.</string>

	<key>NSCalendarsUsageDescription</key>
	<string>This app requires access to your calendar to support related functionality.</string>

	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app requires speech recognition to enable voice-related features.</string>

	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires microphone access to support audio and voice features.</string>

	<key>NSContactsUsageDescription</key>
	<string>This app requires access to contacts to support communication-related features.</string>

	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app uses Bluetooth to connect to nearby devices and improve your experience.</string>

	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app requires location access to enable continuous location-based features.</string>

</dict>
</plist>
